<!DOCTYPE html>
{% load static %}

<html lang="en">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
<!--    <script src="{% static 'js/main.js' %}"></script>-->
<header class="container-fluid">

    <div class="container text-center" id="searchBox">
        <h1>Movie Recommender</h1>
        <div class="form col-xs-12">
            <form id="movie-form" action="{% url 'recommended_movie_list_url' %}" method="GET">
                <input type="text" id="search" name="search" placeholder="Search movies...">
                <select id="movie-options" size="6" onchange="displaySelectedOption()">
                    {% for key, movie_name in movies.items %}
                        <option value="{{ movie_name }}">{{ movie_name }}</option>
                    {% endfor %}
                </select>
                <hr>
                <h4><button type="submit">Submit</button></h4>
            </form>
        </div>

        <script>
            document.getElementById('search').addEventListener('input', function() {
            var input = this.value.toLowerCase();
            var options = document.getElementById('movie-options').options;
            for (var i = 0; i < options.length; i++) {
                if (options[i].value.toLowerCase().indexOf(input) !== -1) {
                    options[i].style.display = '';
                } else {
                    options[i].style.display = 'none';
                }
            }

            // Show the select element
            var select = document.getElementById('movie-options');
            select.style.display = 'block';
        });

        function displaySelectedOption() {
          var select = document.getElementById('movie-options');
          var selectedOption = select.options[select.selectedIndex].text;
          select.style.display = 'none';

          // Set the SEARCH term to Selected Value
          var input = document.getElementById('search');
          input.value = selectedOption;
        }

        </script>
    </div>

</header>
<div id="mainBody" class="container text-center">
    <ul id="results">
    </ul>
</div>
<footer class="text-center">

</footer>
</html>